body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.bayan {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: rgb(239, 246, 175);
}
.title {
    font-size: 1.5rem;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding: 2%;
    border-top: solid 0.1rem;
    border-color: bisque;
    transition: all 0.5s;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.plus {
    opacity: 1;
}
img {
    display: block;
    align-self: center;
    width: 70vw;
    max-height: 0;
    transform: scale(0);
    transition: transform 0.5s;
}
input:checked ~ img {
    max-height: 100vh;
    transform: scale(1);
}
input:checked ~ label .plus {
    transform: rotate(45deg);
}
input {
    display: none;
}
@media (min-width: 321px) {
    .bayan {
        width: 80vw;
    }
    .title {
        font-size: 2rem;
    }
    .container {
        font-size: 1.2rem;
        font-weight: 900;
    }
    img {
        width: 50vw;
    }
}
@media (min-width: 821px) {
    .bayan {
        width: 60vw;
    }
    .title {
        font-size: 2.5rem;
    }
    .container {
        font-size: 1.5rem;
        font-weight: 900;
    }
    img {
        width: 30vw;
    }
    .plus {
        opacity: 0;
    }
    .card:hover > img {
        max-height: 100vh;
        transform: scale(1);
    }
    .card:hover .plus {
        transform: rotate(45deg);
    }
    .bayan:hover .plus {
        opacity: 1;
    }
    .bayan:hover .message {
        color: black;
    }
    .message {
        color: blue;
    }
}